.auth-form{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    max-width: 453px;
    margin-inline: auto;
    margin-top: 260px;
}
.register-link{
    color: #149a25;
}
.app-title{
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    text-align: center;
}



.auth-container{
    width: 100%;
}