.auth-roles{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
    width: 100%;
}
.login-link{
    color: #149a25;
}
.auth-role{
    cursor: pointer;
    display: inline-block;
    color: black;
    background: rgba(223, 223, 223, 0.46);
    border-radius: 9px;
    padding: 11px 30px;
}

.auth-role_active{
    background: #00A658;
    color: #FFFFFF;
}