.test-question-statistic__common-score {
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 50px;
}
.test-question-statistic__chart{
    width: 200px;
    height: 200px;
}
.test-question-statistic__scores-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;
}

.test-question-statistic__score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-question-statistic__score--text {
    margin-right: 28px;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px
}

.buttton__container {
    display: flex;
    justify-content: center;
}