.header {
    height: 60px;
    max-width: 1240px;
    margin: auto;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__personal img{
    margin-left: 15px;
}
.header select{
    padding: 3px 5px;
    font-size: 16px;
}

.header__navigation {
    display: flex;
    gap: 10px;
    flex-direction: row;
}
