.test-question__container {
    color: black;
    padding-top: 110px;
    padding-bottom: 40px
}

.test-question__question--number {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 89px;
}

.test-question__question-container {
    height: 110px;
    margin-bottom: 240px;
}

.test-question__answers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;
}

.test-question__answer {
    width: 400px;
    margin-bottom: 21px;
    background-color: white;
    border: solid 2px #00A658;
    color: black;
}

.test-question__answer:not(:nth-child(2n)) {
    margin-right: 50px;
}


.test-question__answer--active {
    background-color: #00A658;
    color: white
}

.test-question__submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 880px) {
    .test-question__question-container {
        margin-bottom: 12px
    }

    .test-question__answer:not(:nth-child(2n)) {
        margin-right: 0px
    }
}