.additional-info__container {
  padding-top: 110px;
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 91px;
}

.additional-info__title {
  margin-bottom: 82px;
}
